@{
    ViewBag.Title = "Contact";
}
<style>
    a {
        color: #504e40;
        text-decoration: none;
    }
    a:hover {
        color: #black;
        text-decoration: none;
    }
</style>
<div style="margin:0px;margin-left:-189px;">
    <img src="~/Images/Contact.png" />
</div>
<div style="font-size:11.5px;">
    <a href="https://www.instagram.com/it_handmade_gifts/" target="_blank" style=" position: relative; top: -310px; left: 600px;">it_handmade_gifts</a>
    <a href="https://www.facebook.com/profile.php?id=100045986214188" target="_blank" style=" position: relative; top: -310px; left: 692px;">ИТ Рачно Изработени Подароци</a>
    <a href="mailto:it_handmade_gifts@yahoo.com" style=" position: relative; top: -244px; left: 339px;">it_handmade_gifts@yahoo.com</a>
    <div style=" position: relative; top: -262px; left: 781px;">Куманово</div>
    <div style=" position: relative; top: -208px; left: 599px;">+389 48 407-407</div>
</div>