@model Proekt.Models.AddToRoleModel
@{
    ViewBag.Title = "AddUserToRole";
}

<h2>Add user with this email to role:</h2>
@using (Html.BeginForm("AddUserToRole","Account"))
            {
                <div class="form-group">
                    @Html.LabelFor(z=>z.email)
                    @Html.TextBoxFor(m=>m.email, new { @class="form-control"})
                </div>
                <div class="form-group">
                    @Html.DropDownListFor(z=>z.SelectedRole, new SelectList(Model.roles), new {@class="form-control"})
                </div>
                <button type="submit" class="btn btn-default">Зачувај</button>

            }
